{
    "presets": ["next/babel"],
    "plugins": [
        [
            "styled-components",
            {
                "ssr": true
            }
        ],
        ["jotai/babel/plugin-react-refresh"]
    ]
}